@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

@namespace BoltFPS

<root>
	<div class="toast-container">
		@foreach ( var toast in ActiveToasts )
		{
			<div class="toast">
				<h5>@toast.Message</h5>
			</div>
		}
	</div>
</root>

@code
{
	public static ToastNotification Current { get; set; }

	protected override void OnAwake()
	{
		Current = this;
	}

	public class Toast
	{
		public string Message { get; set; }
		public RealTimeSince CreatedAt { get; set; }
		public float Duration { get; set; }

		public Toast( string message, float duration = 3.0f )
		{
			Message = message;
			Duration = duration;
			CreatedAt = 0;
		}
	}

	private List<Toast> ActiveToasts = new();

	public void AddToast( string message, float duration = 3.0f )
	{
		ActiveToasts.Add( new Toast( message, duration ) );
		Sound.Play( "ui-toast" );
		StateHasChanged();
	}

	[Rpc.Broadcast]
	public void BroadcastToast(string message, float duration = 3.0f, Guid id = default)
	{
		if (id != default && Connection.Local.Id != id)
			return;

		ActiveToasts.Add(new Toast(message, duration));
	}

	protected override void OnUpdate()
	{
		// Remove expired toasts
		ActiveToasts.RemoveAll( x => x.CreatedAt >= x.Duration );
		if ( ActiveToasts.Count > 0 )
			StateHasChanged();
	}

	protected override int BuildHash() => System.HashCode.Combine( ActiveToasts.Count );
}
