//Just some colour pallete i found online, feel free to edit this.
$color-1: #C14600;
$color-2: #FF9D23;
$color-3: #E5D0AC;
$color-4: #FEF9E1;
$color-prop: #2A7FBA;
$color-hunter: #D73A2F;

$bolt-light-text-orange: #FFE2C6;
$bolt-orange: #C97D37;
$bolt-gray: #4E4E4E;

.root {
  color: white;
  font-smooth: always;
}

.integral {
  font-family: "Integral CF";
}

.greyed {
  color: rgba(155, 155, 155, 0.7);
}

.popup-panel {
  border: 2px solid #3D3D3D;
  box-shadow: 0 4px 15px rgba(black, 0.25);
  border-radius: 12px;
  padding: 20px;
  gap: 20px;
}


h1 {
  font-family: Work Sans;
  // font-size: 4rem;
  font-size: 48px;
  font-weight: lighter;
  color: white;
}

h2 {
  font-family: Work Sans;
  // font-size: 3rem;
  font-size: 42px;
  font-weight: lighter;
  color: white;
}

h3 {
  font-family: Work Sans;
  // font-size: 2.5rem;
  font-size: 36px;
  font-weight: lighter;
  color: white;
}

h4 {
  font-family: Work Sans;
  // font-size: 2rem;
  font-size: 30px;
  font-weight: light;
  color: white;
  line-height: 30px;
}

h5 {
  font-family: Work Sans;

  // font-size: 1.5rem;
  font-size: 24px;
  font-weight: light;
  color: white;
}

p {
  font-family: Work Sans;

  // font-size: 1rem;
  font-size: 16px;
  font-weight: lighter;
  color: white;
}

.tooltip {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: normal;
  color: white;
  backdrop-filter: blur(12px);
}
