@import "UI/_styles.scss";

ServerVersion {
  position: absolute;
  flex-direction: column;

  bottom: 0;
  left: 0;
  margin: 10px;
  z-index: 3000;

  .update {
    color: limegreen;
    font-weight: 600;
  }

  .red {
    color: #ff0000;
  }

  p {
    font-weight: 600;
    font-size: 14px;
  }
}