@import "UI/_styles.scss";

WeaponPicker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.active {
    opacity: 1;
  }

  z-index: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: white;
  pointer-events: all;


  .loadout-container {
    display: flex;
    justify-content: space-between;
    padding: 24px;
  }

  .team-loadouts {
    flex: 1;
    margin-right: 20px;
  }

  .player-loadout {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .weapons {
    display: flex;
    flex-direction: column;
  }

  .weapon {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .weapon img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .weapon-selection {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  .category {
    margin-bottom: 20px;
    flex-direction: column;

    h3 {
      font-family: "Cal Sans";
      text-shadow: 5px 5px 5px rgb(0, 0, 0);
      margin-bottom: 10px;
    }
  }

  .weaponlist {
    gap: 15px;
  }

  .banner {
    width: 100%;
    font-family: "Integral CF";
    align-items: center;
    font-weight: bold;
    text-shadow: 0px 0px 0px black;
  }

  .tabs {
    gap: 50px;

    .button {
      cursor: pointer;
      transition: all 1s ease-in-out;

      :hover {
        color: #f6b769;
      }
    }

    label {
      color: $bolt-light-text-orange;
      text-shadow: 0px 0px 0px black;
      font-family: "Work Sans";
      font-weight: 600;
      font-size: 24px;
    }
  }

  .time-left {
    align-items: center;
    gap: 10px;

    h5 {
      text-shadow: 0px 0px 0px black;
      color: rgba(255, 255, 255, 0.90);
    }

    .time {
      color: rgba(255, 255, 255, 0.79);
      font-weight: 800;
      text-shadow: 0px 0px 0px black;
    }
  }

  .weapon-option, .ability-option {
    display: flex;
    flex-shrink: 0;
    border-radius: 14px;
    border: 1px solid #666666;
    border-image: linear-gradient(#B1B1B1 100%, #666666 0%);
    background: linear-gradient(90deg, rgba(78, 78, 78, 0.85) 0%, rgba(115, 115, 115, 0.85) 100%);
    backdrop-filter: blur(25px);
    width: 400px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    h5 {
      width: 100%;
      font-family: "Integral CF";
      background-color: #2B2B2B;
      padding: 15px;
    }
  }

  .weapon-option.selected {
  }

  .weapon-option img {
    width: 164px;
    height: 164px;
    margin-right: 10px;
  }

  .weapon-option .stats {
    display: flex;
    flex-direction: column;
  }

  .weapon-option:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

