@import "UI/_styles.scss";

WeaponPicker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.active {
    opacity: 1;
  }

  z-index: 0;
  opacity: 0;
  display: flex;
  background-color: #000000;
  padding: 20px;
  color: white;
  pointer-events: all;

  .loadout-container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
  }

  .team-loadouts {
    flex: 1;
    margin-right: 20px;
  }

  .player-loadout {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .weapons {
    display: flex;
    flex-direction: column;
  }

  .weapon {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .weapon img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .weapon-selection {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  .category {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .weaponlist {
    gap: 15px;
  }

  .weapon-option, .ability-option {
    display: flex;
    background: linear-gradient(#ffa43d 0%, #bc6e00 100%);
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    h5 {
      font-family: "Integral CF";
      text-shadow: 5px 5px 5px rgb(181, 92, 2);
    }
  }

  .weapon-option.selected {
    background: linear-gradient(#ffa43d 0%, #ffd18e 100%);
  }

  .weapon-option img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
  }

  .weapon-option .stats {
    display: flex;
    flex-direction: column;
  }

  .weapon-option:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

