@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="minigame-display @(ShouldBeVisible ? "visible" : "")">
		<div class="title" style=@($"color: {Color.Hex};")>@MainText</div>
		<div class="description">@SecondaryText</div>
	</div>
</root>

@code
{
	public static LargeMessage Current { get; set; }

	protected override void OnAwake()
	{
		Current = this;
	}

	private bool ShouldBeVisible => TimeSince < TimeActive;

	private RealTimeSince TimeSince;
	private float TimeActive;
	private string MainText;
	private Color Color;
	private string SecondaryText;

	public void SendMessage(string mainText, Color color, string secondaryText = "", float timeActive = 1.5f)
	{
		TimeActive = timeActive;
		TimeSince = 0;
		MainText = mainText;
		Color = color;
		SecondaryText = secondaryText;
	}

	[Rpc.Broadcast]
	public void BroadcastMessage(Guid SendTo, string mainText, Color color, string secondaryText = "", float timeActive = 1.5f)
	{
		if (Connection.Local.Id != SendTo)
			return;

		SendMessage(mainText, color, secondaryText, timeActive );
	}

	[Rpc.Broadcast]
	public void BroadcastMessage(string mainText, Color color, string secondaryText = "", float timeActive = 1.5f)
	{
		SendMessage(mainText, color, secondaryText, timeActive );
	}

	[ConCmd]
	public static void SendMessageCommand(string mainText, string secondaryText = "", float timeActive = 1.5f)
	{
		Current?.SendMessage(mainText, Color.White, secondaryText, timeActive );
	}

    protected override int BuildHash() => HashCode.Combine(
        ShouldBeVisible
    );
}
