@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Seekers

@if (Show)
{
	<root style="background-color: #000; pointer-events: all;">
		<div style="flex-direction: row">
			<h1>Loading Map</h1>
			@for(int i = 0; i < DotCount; i++)
			{
				<h1>.</h1>
			}
		</div>
	
		<p>Hang tight!</p>
	</root>
}
else
{
	<root style="background-color: #0000; pointer-events: none;" />
}

@code
{
	private bool Show => MapLoader.Instance?.ClientIsLoadingMap ?? false;

	
	private int DotCount => 0 + MathX.FloorToInt(Time.Now * 4) % 4;

	protected override void OnUpdate()
	{
		SetClass( "active", Show );
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Show, DotCount);
	}
}
