@using Sandbox.UI
@inherits Panel

@namespace Seekers

@if ( Pawn is not SpectatorPawn )
	return;

<root>
	<h4>Spectating</h4>
	
	@if ( SpectatedPawn.IsValid() )
	{
		<h5>@( SpectatedPawn?.Network?.Owner?.DisplayName )</h5>
		<div class="hints">
			<InputHint Size=@InputGlyphSize.Small @Action="Attack1" @CustomText="Forward"/>
			<InputHint Size=@InputGlyphSize.Small @Action="Attack2" @CustomText="Backward"/>
		</div>
		<div class="hints">
			<InputHint Size=@InputGlyphSize.Medium @Action="jump" @CustomText="Freecam"/>
			<InputHint Size=@InputGlyphSize.Medium @Action="reload" @CustomText="Toggle Orbit"/>
		</div>
	}

</root>

@code
{
	public Pawn SpectatedPawn => (Pawn.Local as SpectatorPawn)?.SpectatedPawn!;
	public Pawn Pawn => Pawn.Local;
	public Team Team => Pawn?.Team;

	protected override int BuildHash()
	{
		return HashCode.Combine( Team, SpectatedPawn, Pawn );
	}
}
