@import "UI/_styles.scss";

SpectatorPanel {
  position: absolute;
  bottom: 10%;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hints {
    margin: 10px;
    gap: 10px;
  }
  h4 {
    font-weight: 600;
    font-size: 30px;
  }
  
  h5 {
    font-weight: 600;
    font-size: 20px;
  }
}
